.path-admin-local-zoomadmin img.email-pic {
    width: 20px;
}

.path-admin-local-zoomadmin .nowrap {
    white-space: nowrap;
}

#zoomadmin_log th,
#zoomadmin_participants-table .align-left {
    text-align: left;
}

#zoomadmin_log th,
#zoomadmin_log td {
    padding-right: 10px;
    vertical-align: top;
}

#zoomadmin_log tr:nth-child(odd) {
    background-color: #eee;
}

.zoomadmin_log_col_message {
    width: 100%;
}

#zoomadmin_participants-table {
    width: 0;
}

#zoomadmin_participants-table th,
#zoomadmin_participants-table td {
    border-bottom: 1px solid #ddd;
    padding-right: 20px;
}

#zoomadmin_participants-table .align-center {
    text-align: center;
}

#zoomadmin_participants-table .user-duration-minutes {
    text-align: right;
    padding: 0;
}
