.path-admin-local-zoomadmin img.email-pic {
    width: 20px;
}

.path-admin-local-zoomadmin .nowrap,
.path-local-zoomadmin .nowrap,
#zoomadmin_participants-table td {
    white-space: nowrap;
}

#zoomadmin_log th,
#zoomadmin_participants-table .align-left {
    text-align: left;
}

#zoomadmin_participants-table .align-right {
    text-align: right;
}

#zoomadmin_participants-table .padding-left-5 {
    padding-left: 5px;
}

#zoomadmin_participants-table .padding-right-5 {
    padding-right: 5px;
}

#zoomadmin_log th,
#zoomadmin_log td {
    padding-right: 10px;
    vertical-align: top;
}

#zoomadmin_log tr:nth-child(odd),
.off-color {
    background-color: #fff;
}

#zoomadmin_participants-table {
    color: #000;
}

#zoomadmin_participants-table .off-color.highlight-low {
    background-color: #ddd;
    border-top-color: #ccc;
    border-bottom-color: #ccc;
}

#zoomadmin_participants-table .highlight-low {
    background-color: #ccc;
    border-top-color: #bbb;
    border-bottom-color: #bbb;
}

#zoomadmin_participants-table .off-color.highlight {
    background-color: #bbb;
    border-top-color: #aaa;
    border-bottom-color: #aaa;
}

#zoomadmin_participants-table .highlight {
    background-color: #aaa;
    border-top-color: #999;
    border-bottom-color: #999;
}

.zoomadmin_log_col_message {
    width: 100%;
}

#zoomadmin_participants-table {
    width: 0;
}

#zoomadmin_participants-table th,
#zoomadmin_participants-table td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
}

#zoomadmin_participants-table .align-center {
    text-align: center;
}

.footnote {
    margin-top: 1em;
    font-style: italic;
    font-size: 0.9em;
}

.recording-indicator {
    font-weight: bold;
    color: #090;
}
