{{#categories}}
<h3>{{stringname}}</h3>

<ul>
    {{#commands}}
        <li>
            <a href="{{{url}}}">{{stringname}}</a>
            <p>{{stringdescription}}</p>
        </li>
    {{/commands}}
</ul>
{{/categories}}
