<h3>Disciplina: {{topic}}</h3>
<h4>{{meeting_number_formatted}}</h4>
<h4>
{{#host}}
Docente: {{first_name}} {{last_name}} ({{email}})
{{/host}}
</h4>
<h4>Data/hora: {{start_time_formatted}} - {{end_time_formatted}} ({{duration}} minutos)</h4>

{{#hasdata}}
<table id="zoomadmin_participants-table">
    <thead>
        <tr>
            <th class="align-left">Nome</th>
            <th class="align-left">E-mail</th>
            <th class="align-left">Duração em minutos</th>
            <th>Entrada - saída</th>
            <!-- <th>Atenção</th> -->
        </tr>
    </thead>
    <tbody>
{{#participants}}
        <tr>
            <td>{{username}}</td>
            <td>{{useremail}}</td>
            <td class="align-center">
                {{sum_duration}} {{percent_duration}}
            </td>
            <td class="align-center">
            {{#join_leave_times}}
                {{times}}<br />
            {{/join_leave_times}}
            </td>
            <!-- <td class="align-center">{{avg_attentiveness}}</td> -->
        </tr>
{{/participants}}
    </tbody>
</table>
<br>
<p>
    <strong>(*) Atenção:</strong><br>O acesso a aulas gravadas está marcado com <strong>N/D</strong> na coluna "Duração em minutos".
    <br>A data e horário na última coluna indicam quando foi feito o acesso à gravação da aula, registrando assim a presença.<br>
    <br>Lembre-se de sempre entrar no Zoom com seu login de aluno.
</p>
{{/hasdata}}

{{nodatamsg}}
