<table class="table">
    <thead>
        <tr>
            <th scope="col">{{#str}}email,local_zoomadmin{{/str}}</th>
            <th scope="col">{{#str}}name,local_zoomadmin{{/str}}</th>
            <th scope="col">{{#str}}type,local_zoomadmin{{/str}}</th>
            <th scope="col">{{#str}}department,local_zoomadmin{{/str}}</th>
            <th scope="col">{{#str}}last_login_time,local_zoomadmin{{/str}}</th>
            <th scope="col">{{#str}}created_at,local_zoomadmin{{/str}}</th>
            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td>
                <img class="email-pic" src="{{{pic_url}}}" />
                {{email}}
            </td>
            <td>{{first_name}} {{last_name}}</td>
            <td>{{type_string}}</td>
            <td>{{dept}}</td>
            <td>{{last_login_time_formatted}}</td>
            <td>{{created_at_formatted}}</td>
            <td>
                <a href="{{{user_get_url}}}?id={{id}}">{{#str}}details,local_zoomadmin{{/str}}</a>
                |
                <a href="{{{user_get_url}}}?id={{id}}&action=edit">{{#str}}edit,local_zoomadmin{{/str}}</a>
            </td>
        </tr>
    {{/users}}
    </tbody>
</table>
<div>
    {{#str}}page{{/str}}:
    {{#pages}}
        {{#current}}
            <span>{{number}}</span>
        {{/current}}
        {{^current}}
            <a href="{{{user_list_url}}}?page_number={{number}}">{{number}}</a>
        {{/current}}
    {{/pages}}
</div>
